body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Geeks */
.search-geeks {
  margin: 10px;
}

.search-geek-button {
  margin-left: 10px;
}
.find-all-users-button {
  margin-left: 10px;
  margin-top: 10px;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas: 'top top';
  margin-top: 25px;
  margin-bottom: 25px;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}



.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profiles{

  display: flex;
  flex-wrap: wrap;
}

.profile-card{
  width: 20rem;
}
.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

div .dp {
  margin-left: 2px;
}

.geek-name {
  color: white;
}

.paragraph-justify {
  text-align: justify;
}

.geek-bio {
  color: white;
}

.skills {
  list-style-type:none;
}

div .github-repo {
  margin-bottom: 10px;
  margin-top: 10px;
}

/*Landing Page */
.wbdv-close {
  color: white;
}
.wbdv-new-page-btn {
  color: white;
}


.wbdv-arrow-link {
  height: 15px;
  width: 10px;
}

body, html {
  height: 100%;
  margin: 0;
}

/*@media only screen and (max-height: 600px) {*/
/*  .landing-main-div {*/
/*    background-image: url("./images/landing-page-image.jpg");*/
/*    height: 1000px;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*  }*/
/*}*/

.landingContainer{
  /*position: relative;*/
}

.landing-main-div {
  /*background-image: url("./images/landing-page-image.jpg");*/
  height: 350px;
  /*background-attachment: fixed;*/

  z-index: 2;
    /* Full height */
  /*left: 25%;*/
  /*top: 20%;*/
  color: #ffffff;
position: absolute;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.center {
  padding: 70px 70px;
  text-align: center;
}

/* login */

.login-main-div-1 {
  margin-top: 10px;

}

/* Forms */

input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #ccc;
}

/* Dashboard*/

.experience-ul {
  list-style-type: none;
}

.edit-button {
  margin-right: 10px;
}

/*Experience */
.present-experience {
  margin-right:1.5px;
}

/*Admin CRUD */

.main-box.no-header {
  padding-top: 20px;
}
.main-box {
  background: #FFFFFF;
  -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  margin-bottom: 16px;
  -webikt-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.table a.table-link.danger {
  color: #e74c3c;
}
.label {
  border-radius: 3px;
  font-size: 0.875em;
  font-weight: 600;
}
.user-list tbody td .user-subhead {
  font-size: 0.875em;
  font-style: italic;
}
.user-list tbody td .user-link {
  display: block;
  font-size: 1.25em;
  padding-top: 3px;
  margin-left: 60px;
}
a {
  color: #3498db;
  outline: none!important;
}
.user-list tbody td>img {
  position: relative;
  max-width: 50px;
  float: left;
  margin-right: 15px;
}

.table thead tr th {
  text-transform: uppercase;
  font-size: 0.875em;
}
.table thead tr th {
  border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
  font-size: 1.125em;
  font-weight: 300;
}
.table tbody tr td {
  font-size: 0.875em;
  vertical-align: middle;
  border-top: 1px solid #e7ebee;
  padding: 12px 8px;
}

.bg-color-alice-blue {
  background-color: aliceblue;
}

.cursor-pointer {
  cursor: pointer;
}