body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Geeks */
.search-geeks {
  margin: 10px;
}

.search-geek-button {
  margin-left: 10px;
}
.find-all-users-button {
  margin-left: 10px;
  margin-top: 10px;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas: 'top top';
  margin-top: 25px;
  margin-bottom: 25px;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}



.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

div .dp {
  margin-left: 2px;
}

.geek-name {
  color: white;
}

.paragraph-justify {
  text-align: justify;
}

.geek-bio {
  color: white;
}

.skills {
  list-style-type:none;
}

div .github-repo {
  margin-bottom: 10px;
  margin-top: 10px;
}

/*Landing Page */
.wbdv-close {
  color: white;
}
.wbdv-new-page-btn {
  color: white;
}


.wbdv-arrow-link {
  height: 15px;
  width: 10px;
}

.landing-main-div {
  background-image: url("./images/landing-page-image.jpg");

  /*background-attachment: fixed;*/

  width: 100%; height: 100%;
}

.center {
  padding: 70px 70px;
  text-align: center;
}

/* login */

.login-main-div {
  margin-top: 10px;

}

/* Forms */

input {
  display: block;
  width: 70%;
  padding: 0.4rem;
  border: 1px solid #ccc;
}

/* Dashboard*/

.experience-ul {
  list-style-type: none;
}

.edit-button {
  margin-right: 10px;
}

/*Experience */
.present-experience {
  margin-right:1.5px;
}